core/src/test/resources/echo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response" type="JaxbPojoType"/>
  <xs:complexType name="JaxbPojoType">
    <xs:sequence>
      <xs:element type="xs:string" name="echo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>